* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

#__next {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Slate */
.SlateHeader1 {
  font-size: 22px;
  color: #434343;
  margin: 10px 0;
}

.SlateHeader2 {
  font-size: 19px;
  color: #434343;
  margin: 5px 0;
}

.SlateParagraph {
  margin: 0;
  color: #434343;
  font-size: 16px;
}

.SlateImage {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
